<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http - equiv="x-ua-compatible" content="ie=edge" />
    <title>德維法律事務所 Derway Law Firm</title>
    <!-- facebook share-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- favicon-->
    <link rel="icon" href="img/favicon.ico" />
    <!-- css style-->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/self.css" />
    <link rel="stylesheet" href="css/animate.min.css" />

    <script src="js/vendor/wow.min.js"></script>
    <script src="js/vendor/polyfill.min.js"></script>
    <script src="js/vendor/axios.min.js"></script>
    <script src="js/vendor/wow.min.js"></script>
    <script src="js/vendor/vue.min.js"></script>
    <!-- own style-->
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div class="trans_bg">
      <div class="trans_ipad">
        <div class="trans_center">
          <img src="img/ipad_ok.png" />
          <p>請將裝置轉至橫式<br />體驗最佳瀏覽方式</p>
        </div>
      </div>
    </div>
    <!-- header add'scroll' when scrolling and change logo to white-->
    <header>
      <a class="logo" href="index.html"><img src="img/logo_b.svg"/></a>
      <nav class="pc_menu">
        <ul>
          <li><a href="index.html">回首頁</a></li>
          <li><a href="about.html">關於德維</a></li>
          <li><a href="news.html">最新消息</a></li>
          <li><a class="active" href="team.html">專業團隊</a></li>
          <li><a href="legal_column.html">法律專欄</a></li>
          <li><a href="contact.html">聯絡我們</a></li>
          <li><a href="link.html">關係網站</a></li>
        </ul>
      </nav>
    </header>
    <!-- content-->
    <div class="wrap">
      <main class="team_main" v-cloak>
        <div class="wow fadeIn">
          <div class="tt_team"><img src="img/tt_team.svg" /></div>
        </div>
        <section class="teamBox" :class="{ 'team_odd' : $index % 2 == 0, 'team_long' : item.isLong }" v-for="(item, $index) in list">
          <div class="lawyer_picBox wow fadeInUp">
            <div class="lawyer_pic"><img :src="item.image" alt="" /></div>
          </div>
          <div class="lawyer_info wow fadeInUp">
            <h2>{{ item.name }} 律師</h2>
            <div class="lawyer_detail">
              <h3>EDUCATION</h3>
              <ul>
                <li v-for="edu in item.education" v-if="item.education && item.education.length > 0">{{ edu }}</li>
              </ul>
            </div>
            <div class="lawyer_detail" v-if="item.experience && item.experience.length > 0">
              <h3>EXPERIENCE</h3>
              <ul>
                <li v-for="exp in item.experience">{{ exp }}</li>
              </ul>
            </div>
            <div class="lawyer_detail" v-if="item.position && item.position.length > 0">
              <h3>CURRENT POSITION</h3>
              <ul>
                <li v-for="position in item.position">{{ position }}</li>
              </ul>
            </div>
          </div>
        </section>
        <footer>
          <p>© Derway Law Firm. ALL RIGHTS RESERVED.</p>
        </footer>
      </main>
    </div>
    <script src="js/common.min.js"></script>
    <script src="js/team.min.js"></script>
  </body>
</html>
