extends ./include/layout
include ./include/mixin
block about
	a.active(href="about.html") 關於德維
block content
	main.about_main
		.about_img
			+png('about_img')
		.about_derway
			.tt_about
				+svg('tt_about')
			p 律師是一個應該秉持公正良心的事業。
			p 本事務所的成立在民國83年3月26日，先由我開啟執業，爾後陸續有張秉正律師在87年，林國泰律師在94年加入團隊。各自依據自己豐富的歷練，誠信地為客戶，排難解紛，累積了相當的經驗與智慧。
			p 三人鑑於後輩律師不斷的投入司法行列，惟吾等打拼多年，不復年輕，人生總應傳承。因此，陸續加入了優秀的洪珮瑜、劉彥廷、吳育胤及李佳怡等律師，共同服務委託人。
			p 今日網路發達，人與人之間的連結，網路最快，為擴大服務有法律問題的人，特別設立本網站。但請大家多多利用，不吝賜教，本所律師將以最誠懇態度，以最有利於客戶的法律智慧，為您奔走於法庭之中。
			.directorBox
				span 所長
				span
					+png('signiture')
		include ./include/footer






