extends ./include/layout
include ./include/mixin
block column
	a.active(href="legal_column.html") 法律專欄
block content
	main.column_main
		.tt_column
			+svg('tt_column')
		.ListBox
			ul
				li.column_items
					p 刑事案件被告得以適當方式適時獲知其被訴案件之卷宗及證物全部內容
					a(href="#")
						span 司法院大法官會議解釋第762號解釋文
						span.btn_arrow
							+svg('arrow2')
				li.column_items
					p 刑事案件被告得以適當方式適時獲知其被訴案件之卷宗及證物全部內容
					a(href="#")
						span 司法院大法官會議解釋第762號解釋文
						span.btn_arrow
							+svg('arrow2')
				li.column_items
					p 刑事案件被告得以適當方式適時獲知其被訴案件之卷宗及證物全部內容
					a(href="#")
						span 司法院大法官會議解釋第762號解釋文
						span.btn_arrow
							+svg('arrow2')
				li.column_items
					p 刑事案件被告得以適當方式適時獲知其被訴案件之卷宗及證物全部內容
					a(href="#")
						span 司法院大法官會議解釋第762號解釋文
						span.btn_arrow
							+svg('arrow2')
				li.column_items
					p 刑事案件被告得以適當方式適時獲知其被訴案件之卷宗及證物全部內容
					a(href="#")
						span 司法院大法官會議解釋第762號解釋文
						span.btn_arrow
							+svg('arrow2')
				li.column_items
					p 刑事案件被告得以適當方式適時獲知其被訴案件之卷宗及證物全部內容
					a(href="#")
						span 司法院大法官會議解釋第762號解釋文
						span.btn_arrow
							+svg('arrow2')
						
		include ./include/footer






