extends ./include/layout
include ./include/mixin
block news
	a.active(href="news.html") 最新消息
block content
	main.news_main
		.tt_news
			+svg('tt_news')
		.ListBox
			ul
				li.news_items
					a(href="news_article.html")
						span.news_info
							span.news_time 2019-08-20
							span.news_tt 育嬰留職停薪 (上)
						span.btn_go
							+svg('arrow')
				li.news_items
					a(href="#")
						span.news_info
							span.news_time 2019-08-20
							span.news_tt 育嬰留職停薪 (上)
						span.btn_go
							+svg('arrow')
				li.news_items
					a(href="#")
						span.news_info
							span.news_time 2019-08-20
							span.news_tt 育嬰留職停薪 (上)
						span.btn_go
							+svg('arrow')
				li.news_items
					a(href="#")
						span.news_info
							span.news_time 2019-08-20
							span.news_tt 育嬰留職停薪 (上)
						span.btn_go
							+svg('arrow')
				li.news_items
					a(href="#")
						span.news_info
							span.news_time 2019-08-20
							span.news_tt 育嬰留職停薪 (上)
						span.btn_go
							+svg('arrow')
				li.news_items
					a(href="#")
						span.news_info
							span.news_time 2019-08-20
							span.news_tt 育嬰留職停薪 (上)
						span.btn_go
							+svg('arrow')
				li.news_items
					a(href="#")
						span.news_info
							span.news_time 2019-08-20
							span.news_tt 育嬰留職停薪 (上)
						span.btn_go
							+svg('arrow')
				li.news_items
					a(href="#")
						span.news_info
							span.news_time 2019-08-20
							span.news_tt 育嬰留職停薪 (上)
						span.btn_go
							+svg('arrow')
		include ./include/footer






