extends ./include/layout
include ./include/mixin
block news
	a.active(href="news.html") 最新消息
block content
	main.news_main
		.tt_news
			+svg('tt_news')
		a(href="#").btn_back
			span.ic_back
				+svg('arrow')
			span 回上層
		article
			.article_ttBox
				h3 育嬰留職停薪 (下)
				span 2018-11-03
			section
				p 案例事實：承接上一篇案例事實，小華向臺灣電子公司申請為期二年育嬰留職停薪，直至102年1月1日復職時，公司雖然有小華原來職務—銷售部門主管職缺，但不願提供予小華復職，仍執意將小華調派至生產部門擔任輪班作業員，小華固然提出異議，然而公司始終不予理睬。試問：小華應如何保護自身權益？
				p 案例事實：承接上一篇案例事實，小華向臺灣電子公司申請為期二年育嬰留職停薪，直至102年1月1日復職時，公司雖然有小華原來職務—銷售部門主管職缺，但不願提供予小華復職，仍執意將小華調派至生產部門擔任輪班作業員，小華固然提出異議，然而公司始終不予理睬。試問：小華應如何保護自身權益？
				p 案例事實：承接上一篇案例事實，小華向臺灣電子公司申請為期二年育嬰留職停薪，直至102年1月1日復職時，公司雖然有小華原來職務—銷售部門主管職缺，但不願提供予小華復職，仍執意將小華調派至生產部門擔任輪班作業員，小華固然提出異議，然而公司始終不予理睬。試問：小華應如何保護自身權益？
				p 案例事實：承接上一篇案例事實，小華向臺灣電子公司申請為期二年育嬰留職停薪，直至102年1月1日復職時，公司雖然有小華原來職務—銷售部門主管職缺，但不願提供予小華復職，仍執意將小華調派至生產部門擔任輪班作業員，小華固然提出異議，然而公司始終不予理睬。試問：小華應如何保護自身權益？
				p 案例事實：承接上一篇案例事實，小華向臺灣電子公司申請為期二年育嬰留職停薪，直至102年1月1日復職時，公司雖然有小華原來職務—銷售部門主管職缺，但不願提供予小華復職，仍執意將小華調派至生產部門擔任輪班作業員，小華固然提出異議，然而公司始終不予理睬。試問：小華應如何保護自身權益？
				p 案例事實：承接上一篇案例事實，小華向臺灣電子公司申請為期二年育嬰留職停薪，直至102年1月1日復職時，公司雖然有小華原來職務—銷售部門主管職缺，但不願提供予小華復職，仍執意將小華調派至生產部門擔任輪班作業員，小華固然提出異議，然而公司始終不予理睬。試問：小華應如何保護自身權益？

		include ./include/footer






