extends ./include/layout
include ./include/mixin
block team
	a.active(href="team.html") 專業團隊
block content
	main.team_main
		.tt_team
			+svg('tt_team')
		section.teamBox
			.lawyer_picBox
				.lawyer_pic
					img(src="img/team/lawyer1.png", alt="")
			.lawyer_info
				h2 曾泰源 律師
				.lawyer_detail
					h3 EDUCATION
					ul
						li 中興大學法律系畢業
						li 文化大學法學碩士
				.lawyer_detail
					h3 EXPERIENCE
					ul
						li 司法官特考、律師高考及格
						li 司法官訓練所第二十七期結業
						li 臺灣花蓮地方檢察署檢察官
						li 花蓮律師公會理事長
						li 中華民國律師公會全國聯合會理事
		section.teamBox.team_odd.team_long
			.lawyer_picBox
				.lawyer_pic
					img(src="img/team/lawyer2.png", alt="")
			.lawyer_info
				h2 張秉正 律師
				.lawyer_detail
					h3 EDUCATION
					ul
						li 東吳大學法律學士
						li 海洋大學海洋法律研究所法學碩士
						li 文化大學博士候選
				.lawyer_detail
					h3 EXPERIENCE
					ul
						li 大漢技術學院法律兼任講師
						li 國立空中大學法律兼任講師、國立東華大學法律兼任講師
						li 花蓮縣政府民眾法律扶助顧問、花蓮縣醫事審議委員
						li 花蓮縣教師申訴評議委員、國防部海軍總司令國賠審議委員
						li 花蓮縣政府訴願審議委員、花蓮縣政府國賠審議委員
						li 花蓮縣政府醫事審議委員、消基會花東分會委員
				.lawyer_detail
					h3 CURRENT POSITION
					ul
						li 張秉正律師事務所主持律師
						li 中華民國仲裁協會仲裁人
						li 國立東華大學法律兼任講師
						li 花蓮縣政府民眾法律扶助顧問
		section.teamBox.team_long
			.lawyer_picBox
				.lawyer_pic
					img(src="img/team/lawyer3.png", alt="")
			.lawyer_info
				h2 林國泰 律師
				.lawyer_detail
					h3 EDUCATION
					ul
						li 輔仁大學法律系司法組畢業、
						li 國立東華大學財經法律研究所大陸法制組碩士

				.lawyer_detail
					h3 EXPERIENCE
					ul
						li 曾任職永然聯合法律事務所、
						li 永然文化出版股份有限公司企畫部主任、
						li 「法律與你」雜誌法律專欄作者；
						li 司法官特考、律師高考雙榜及格、專利代理人檢覈及格
						li 司法官訓練所第三十四期結業、台灣花蓮地方法院法官
						li 花蓮律師公會理事長、臺灣律師懲戒委員會委員長、
						li 中華民國律師公會全國聯合會副理事長（第十屆第三任）
						li 中華人權協會東台灣人權論壇主任委員、
						li 中華民國律師公會全國聯合會107年度優秀公益律師
				.lawyer_detail
					h3 CURRENT POSITION
					ul
						li 中華民國律師公會全國聯合會理事（第十一屆）
						li 財團法人法律扶助基金會花蓮分會會長
						li 門諾基金會常務董事
						li 花蓮縣政府訴願審議委員
		section.teamBox.team_odd
			.lawyer_picBox
				.lawyer_pic
					img(src="img/team/lawyer4.png", alt="")
			.lawyer_info
				h2 洪珮瑜 律師
				.lawyer_detail
					h3 EDUCATION
					ul
						li 台北大學法律學士
				.lawyer_detail
					h3 EXPERIENCE
					ul
						li 桃園地方法院法官助理
						li 花蓮地方法院法官助理
						li 花蓮縣警察局法律諮詢委員會委員
		section.teamBox
			.lawyer_picBox
				.lawyer_pic
					img(src="img/team/lawyer5.png", alt="")
			.lawyer_info
				h2 劉彥廷 律師
				.lawyer_detail
					h3 EDUCATION
					ul
						li 輔仁大學財經法律系畢業
				.lawyer_detail
					h3 EXPERIENCE
					ul
						li 臺灣臺北地方法院法官助理
		section.teamBox.team_odd.team_long
			.lawyer_picBox
				.lawyer_pic
					img(src="img/team/lawyer6.png", alt="")
			.lawyer_info
				h2 吳育胤 律師
				.lawyer_detail
					h3 EDUCATION
					ul
						li 臺灣大學法律學系法學組畢業
						li 臺灣大學法學碩士
				.lawyer_detail
					h3 EXPERIENCE
					ul
						li 國立東華大學兼任講師
						li 國立空中大學兼任講師
				.lawyer_detail
					h3 CURRENT POSITION
					ul
						li 中華民國律師公會全國聯合會副祕書長
						li 黎明教養院服務使用者權益保障委任會委員
						li 花蓮高爾夫球場法律顧問
		section.teamBox
			.lawyer_picBox
				.lawyer_pic
					img(src="img/team/lawyer7.png", alt="")
			.lawyer_info
				h2 李佳怡 律師
				.lawyer_detail
					h3 EDUCATION
					ul
						li 臺北大學法律學系司法組畢業
				.lawyer_detail
					h3 EXPERIENCE
					ul
						li 律師高考（勞動法組）及格
		include ./include/footer






