meta(charset = 'UTF-8') 
meta(http - equiv = 'x-ua-compatible', content = 'ie=edge') 
title 德維法律事務所 Derway Law Firm
// facebook share
meta(property = 'og:type', content = 'website') 
meta(property = 'og:title', content = '') 
meta(property = 'og:description', content = '') 
meta(property = 'og:image', content = '') 
meta(property = 'og:site_name', content = '') 
meta(property = 'og:url', content = '') 
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
// favicon
link(rel = 'icon', href = 'img/favicon.ico')
// css style
link(rel = 'stylesheet', href = 'css/style.css')
script(src = 'js/vendor/jquery-3.2.1.min.js')

